@import "../partials/partial";
@import "../partials/reset";
@import "../partials/mixins";

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(103.5%);

  &__image {
    background-image: url("../assets/images/dogeimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 720px) {
      width: 32vw;
      height: 43vh;
      position: absolute;
      left: 0rem;
      top: 11rem;
    }

    @media screen and (min-width: 1250px) {
      width: 35vw;
      height: 73vh;
      position: absolute;
      left: 0rem;
      top: 9rem;
    }
  }
}

.home {
  &__text {
    font-size: 6rem;
    color: $qwerty-blue;
  }
  &__textContainer {
    height: 100%;
    min-height: 71vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: $qwerty-blue;
  }

  &__btn {
    cursor: pointer;
    background-color: $qwerty-blue;
    font-size: 16px;
    border-radius: 50%;
    width: 103px;
    height: 98px;
    border: 1px transparent;
    color: $qwerty-white;
    &:hover {
      background-color: #e1b303;
      color: white;
      transition: 1s;
      font-size: 16px;
      border-radius: 50%;
      width: 103px;
      height: 98px;
    }
  }
}
