// --Font
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/static/Oswald-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/static/Oswald-Medium.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/static/Oswald-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
